dill==0.4.0
eventlet==0.40.0
Flask==3.1.1
flask_socketio==5.5.1
GitPython==3.1.44
gym==0.26.2
gymnasium==1.1.1
ipython==8.36.0
ipywidgets==8.1.7
matplotlib==3.10.3
numpy==2.2.6
opencv_python==4.11.0.86
pandas==2.2.3
pygame==2.6.1
ray==2.46.0
sacred==0.8.7
scipy==1.15.3
seaborn==0.13.2
setuptools==80.1.0
tensorflow==2.19.0
torch==2.7.0
tqdm==4.67.1
typing_extensions==4.13.2
wandb==0.19.11
